@model IEnumerable<TheSharpFactory.Entity.MainDb.Media.Playlist>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h1>Playlists</h1>
<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Create New</a>
</p>

<table id="playlistTable" class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Name</th>
            <th> </th>
            <th> </th>
        </tr>
    </tfoot>
</table>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#playlistTable').DataTable({
                "ajax": {
                    "url": "/Media/Playlists/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name", "Name": "Name" },
                    {
                        "data": "PlaylistId",
                        render: function (data, type, row) {
                            return "<a href=/Media/Playlists/Edit/" + data + ">Edit</a>"
                                + " | " + "<a href=/Media/Playlists/Details/" + data + ">Details</a>"
                                + " | " + "<a href=/Media/Playlists/Delete/" + data + ">Delete</a>";
                        }
                    },
                    {
                        "data": "PlaylistId",
                        render: function (data, type, row) {
                            return "<a class=\"text-success\" href=/Media/Tracks/Index/1?playlistId=" + data + ">Tracks</a>";
                        }
                    },
                ],
                "columnDefs": [{
                    "targets": [1,2],
                    "sortable": false,
                    "searchable": false
                }],
                "serverSide": "true",
                "processing": "true",
            });
        });
    </script>
}
